<mat-toolbar color="primary">
  <!--
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  -->
    <span routerLink="">FrontTestTaskEFG</span>
    <span class="example-spacer"></span>
    <button routerLink="/create_user" mat-button>Add user
      <mat-icon>add_box</mat-icon>
    </button>
    <button class="git_button" mat-button>
      <img src="../../assets/github-circle-white-transparent.svg">
      GitHub
    </button>
</mat-toolbar>

