<!--
<div class="container">
  <div class="row gutters">
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active">
        Users
      </button>
      <button (click)="viewUserProfile(user.id)" type="button" class="list-group-item list-group-item-action" *ngFor="let user of users">{{user.id}}, {{ user.name}}, {{user.groupId}}, {{user.status}}</button>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row gutters">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Group</th>
          <th scope="col">Status</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="viewUserProfile(user.id)">
          <th scope="row">{{ user.name }}</th>
          <td>{{ user.groupId }}</td>
          <td>{{ user.status }}</td>
          <td>{{ user.id }}</td>
          <!-- Add more cells as needed -->
        </tr>
       
      </tbody>
    </table>
</div>
</div>